{% load static %}
<!DOCTYPE HTML>
<html lang='es'>

<head>
    <!-- Datos que describen el documento -->
    <meta charset='UTF-8' />
    <title>Satec Notification Service- Éxito</title>
    <meta name='author' content='Manuel Antón' />
    <meta name='keywords' content='Satec Notfication Service, registro, notificaciones, mensajería, API' />
    <meta name='description' content='formulario de registro a Satec Notification Service' />
    <meta name='viewport' content='width=device-width, initial scale=1.0' />

    <link rel='stylesheet' href='{% static 'frontend/style.css' %}'>
    <script src='{% static 'frontend/script.js' %}' defer></script>
</head>

<body>
    <h1>Satec Notification Service</h1>
    <main>
        <h2>Registrarse como Dueño de Servicio</h2>
        <div class="container">
            <span>👏</span><p> Se ha enviado la solicitud al administrador. Se te enviará un correo si eres aceptado.</p>
        </div>
    </main>
    <footer>
        <p>Página realizada por <a href='https://github.com/UO276213'> Manuel Antón de la Calle </a> - Estudiante de la Universidad de Oviedo</p>
        <address>
            <p>Si necesitas contactarme no lo dudes a través de <a href='mailto:uo276213@uniovi.es'> mi correo</a>.</p>
        </address>
    </footer>
</body>
</html>