/* Especificidad 001 */

body {
    font-family: "Work Sans", sans-serif;
  
    background-image: linear-gradient(to right, #25c481, #25b7c4);
    color: #2d2b3a;
    background-color: #FDF6FF;
    display: grid;
    gap: 0vh 3vw;
    margin: 1vh 5vw 0vh;
    grid-template-areas:
      "nav"
      "h1"
      "main"
      "footer";
  }
  
  /* Especificidad 001 */
  h1 {
    font-size: 4em;
    color: wheat;
    background-color: transparent;
    text-align: center;
    border-bottom: 2px solid #2d2b3a;
    grid-area: h1;
    margin: 5vh;
  }
  
  /* Especificidad 001 */
  h2 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 2em;
    color: #342c49;
    background-color: transparent;
  }
  
  /* Especificidad 001 */
  
  h3 {
    font-size: 2em;
    color: #342c49;
    background-color: transparent;
    margin-bottom: 0%;
  }

  /* Especificidad 001 */
  p {
    font-weight: bold;
    margin: 1em 0em 0.2em;
  }
  
  /* Especificidad 001 */
  a {
    color: #6c55f9;
    background-color: transparent;
    text-decoration: none;
  }
  
  /* Especificidad 011 */
  
  a:hover {
    text-decoration: underline;
  }
  
  main {
    grid-area: main;
    margin: auto;
  }
  
  /* Especificidad 001 */
  section {
    margin-bottom: 5em;
  }
  
  /* Especificidad 001 */
  footer {
    margin: 1vh 0vw 0vh;
    grid-area: footer;
    text-align: center;
  }
  
  /* Especificidad 002 */
  footer p {
    font-weight: 100;
  }
  
  /* Especificidad 013 */
  main section:nth-child(1) img {
    width: 32vw;
    height: 18vw;
    text-align: left;
    padding-left: 1vw;
  }
  
  /* Especificidad 001 */
  fieldset {
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    color: #2d2b3a;
  }
  
  /* Especificidad 001 */
  fieldset > fieldset {
    display: flex;
  }
  
  /* Especificidad 001 */
  legend {
    font-size: 1.4em;
  }

  input:not([type=radio]) {
    width: 50%;
    height: 1.5em;
    border: none;
    font-size: small;
  }

  /* Especificidad 001 */
  button, select, input, option,
  textarea {
    background-color: rgba(255, 255, 255, 0.178);
    color: #2d2b3a;
    font-size: 1.1em;
    border: none;
    border-radius: 0.4rem;
  }
  
  /* Especificidad 001 */
  textarea {
    width: 50vw;
    height: 10em;
    resize: none;
  }

button {
  display: flex;
  margin-top: 1em;
  margin-left: auto;
  padding: 1em;
}

input:disabled {
    background-color: rgba(23, 79, 100, 0.24);
}

ul {
  list-style: none;
  padding-left: 0;
  color: brown;
  font-size: small;
}

.container {
  padding: 2em;

  border: solid 1px rgba(255, 255, 255, 0.5);
  color: #2d2b3a;
}

span {
  font-size: xx-large;
}