/* Especificidad 001 */

body {
    font-family: "Work Sans", sans-serif;
  
    background-image: linear-gradient(to right, #25c481, #25b7c4);
    color: #2d2b3a;
    background-color: #FDF6FF;
    display: grid;
    gap: 0vh 3vw;
    margin: 1vh 5vw 0vh;
    grid-template-areas:
      "nav"
      "h1"
      "main"
      "footer";
  }
  
  /* Especificidad 001 */
  
  nav {
    font-size: 1.7em;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    border: #25b7c4 1px solid;
    padding: 1em;
    grid-area: nav;
    border-radius: 1rem;
  }
  
  /* Especificidad 002 */
  
  nav > a {
    padding-left: 1em;
    color: #6c55f9;
    background-color: transparent;
  }
  
  /* Especificidad 012 */
  
  nav > a:hover {
    font-weight: bolder;
    text-decoration: wavy;
  }
  
  /* Especificidad 001 */
  h1 {
    font-size: 4em;
    color: wheat;
    background-color: transparent;
    text-align: center;
    border-bottom: 2px solid #2d2b3a;
    grid-area: h1;
    margin: 5vh;
  }
  
  /* Especificidad 001 */
  h2 {
    margin-top: 0;
    margin-bottom: 0%;
    font-size: 2em;
    color: #342c49;
    background-color: transparent;
  }
  
  /* Especificidad 001 */
  
  h3 {
    font-size: 2em;
    color: #342c49;
    background-color: transparent;
    margin-bottom: 0%;
  }

  
  /* Especificidad 001 */
  
  p,
  li {
    font-weight: bold;
  }
  
  /* Especificidad 001 */
  a {
    color: #6c55f9;
    background-color: transparent;
    text-decoration: none;
  }
  
  /* Especificidad 011 */
  
  a:hover {
    text-decoration: underline;
  }
  
  img[alt="Imágen de la 3ra edición del libro de Bert Bos"] {
    display: block;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  main {
    grid-area: main;
    margin: auto;
  }
  
  /* Especificidad 001 */
  section {
    margin-bottom: 5em;
  }
  
  /* Especificidad 001 */
  aside {
    padding: 1vh 2.5vw 1vh;
    background-color: rgba(255, 255, 255, 0.5);
    color: #2d2b3a;
    border: #25b7c4 1px solid;
    text-align: center;
    grid-area: aside;
    border-radius: 1rem;
    min-width: 18em;
  }
  
  /* Especificidad 001 */
  footer {
    margin: 1vh 0vw 0vh;
    grid-area: footer;
    text-align: center;
  }
  
  /* Especificidad 002 */
  footer p {
    font-weight: 100;
  }
  
  /* Especificidad 013 */
  main section:nth-child(1) img {
    width: 32vw;
    height: 18vw;
    text-align: left;
    padding-left: 1vw;
  }
  
  /* Especificidad 001 */
  video {
    max-width: 32vw;
    height: 18vw;
    text-align: right;
    padding-right: 1vw;
  }
  
  /* Especificidad 001 */
  
  table {
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    color: #2d2b3a;
    border-radius: 1rem;
  }
  
  /* Especificidad 001 */
  
  th {
    padding: 1.2em 1.2em 1.2em 1em;
    text-align: left;
    font-weight: 500;
    font-size: 1.3em;
    background-color: transparent;
    color: #2d2b3a;
    text-transform: uppercase;
  }
  
  /* Especificidad 001 */
  
  td {
    padding: 1.5em 1.5em 1.5em 1em;
    text-align: left;
    vertical-align: middle;
    background-color: transparent;
    color: #2d2b3a;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  
  /* Especificidad 001 */
  
  caption {
    /* color: white; */
    /* background-color: transparent; */
    font-size: x-large;
  }
  
  /* Especificidad 001 */
  fieldset {
    border-radius: 1rem;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    color: #2d2b3a;
  }
  
  /* Especificidad 001 */
  fieldset > fieldset {
    display: flex;
  }
  
  /* Especificidad 001 */
  legend {
    font-size: 1.4em;
  }
  
  /* Especificidad 001 */
  input,
  textarea {
    background-color: rgba(255, 255, 255, 0.178);
    color: #2d2b3a;
    font-size: 1.1em;
    border: none;
    border-radius: 0.4rem;
  }
  
  /* Especificidad 001 */
  textarea {
    width: 50vw;
    height: 10em;
    resize: none;
  }

div {
    display: flex;
    margin-top: 1em;
}

button {
    margin-left: auto;
}